/* Menu Css */
a{
    color: black;
}
.text-color-orange{
    color: orange;
}
/* Title and Carousel Css */
.title-carousel{
    padding: 120px 0 50px 0;
}

.h3-title{
    font-weight: 600;
}

.text-italic{
    font-style: italic;
}
.div-title{
    margin-left: 3px;
}
/* Style bg-color for Row content Tại sao Pizza 365 */
.lightgoldenrodyellow{
    background-color: lightgoldenrodyellow;
}
.yellow{
    background-color: yellow;
}
.lightsalmon{
    background-color: lightsalmon;
}
.orange{
    background-color: orange;
}
/* Reponsive */
.card-body-pizza-type{
    max-height: 170px;
}

.margin-left-top-15px{
    margin-left: 15px;
    margin-top: 15px;
}